

#login_bar
  background: black
  color: white
  margin-bottom: 10px
  margin: 0
  padding-bottom: 5px
  padding-top: 5px
  

.text-left
  text-align: left
.left
  float:left

.text-right
  text-align: left
.left
  float: right