

#login_bar
  background: black
  color: white
  margin-bottom: 10px
  margin: 0
  padding-bottom: 5px
  padding-top: 5px

  li
    list-style: none
    float: left
    margin: 0 10px

.text-left
  text-align: left
.left
  float:left

.text-right
  text-align: left
.left
  float: right

.login_status
  float: left
  text-align: left
  margin-top: 5px

  .face
    width: 25px
    height: 25px
    float: left

  .name, .login-text
    margin-left: 10px
    float: left
    display: block
  .login-text
    line-height: 35px
    vertical-align: middle
    float: left

.login-text
  display: none

.login.facebook
  text-indent: -900px

.login.facebook.huge
  background: url(/assets/authbuttons/facebook_256.png)
  width: 256px
  height: 256px

.login.facebook.big
  background: url(/assets/authbuttons/facebook_128.png)
  width: 128px
  height: 128px

.login.facebook.medium
  background: url(/assets/authbuttons/facebook_64.png)
  width: 64px
  height: 64px

.login.facebook.small
  background: url(/assets/authbuttons/facebook_32.png)
  width: 32px
  height: 32px

.tasks
  text-align: center
  h2
    width: 100%
    float: left
    text-align: left
  .task:hover
    .actions
      display: block
  .task
    background: #eee
    float: left
    height: 200px
    margin: 10px
    overflow: hidden
    position: relative
    width: 200px

    .line
      padding: 5px 0
      width: 100%
    .content
      padding: 10px
    .title
      font-size: 20px
      margin-top: 20px
    .description
      font-size: 12px

    .actions
      bottom: 0
      position: absolute
      width: 100%
      display: none

  .time, .status
    position: absolute
    top: 0
    width: 50%


  .time
    left: 0
  .status
    right: 0

